//============================================= RETHAGON =============//
// CARD ARTIST =====================================================//
//==================================== By NEPHELIM ============ 2024 =//
@use '../../styles/colors.module.scss' as colors;


.cardArtist {
    width: clamp(220px, 90vw, 300px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);


    figure {
        margin: 0px;
    }

    figcapture {
        margin: 0px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}